.container{
    height:500px;
    width:50%;
    margin: 100px auto;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
}
h1{
    background-color: black;
    color:white;
    text-align: center;
    margin-left: 12px;
    margin-right: 12px;
}
.display{
    height:50px;
    width:90%;
    margin:10px auto;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-size:30px;
    padding:8px;
    box-sizing: border-box;
}
.key{
    width:90%;
    margin:10px auto;
    height:348px;
    display:flex;
    flex-wrap: wrap;
}
.button{
    width:24%;
    height: 65px;
    margin:auto;
    text-align: center;
    font-size:33px ;
    line-height: 67px;
    background-color: white;
    cursor:pointer;
}
#b{width:49%}
#operator{
    background-color: rgb(196, 75, 75);
}
.button:hover{
    background-color: rgb(216, 172, 27);
}